# Database Configuration
MONGODB_URI=

# Server Configuration
PORT=3000

# JWT Configuration
JWT_SECRET=

# Email Configuration
EMAIL_USER=
EMAIL_PASS=

# API Configuration
DUMMY_PRODUCTS_API=https://dummyjson.com/products

# Super Admin Configuration
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET=
AWS_S3_FOLDER_PREFIX=

